<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.study.mapper.VMenuMapper">


    <select id="getList" resultType="cn.study.vo.VMenuVo">
        select
            menu_id,
            `name`,
            permission,
            parent_id,
            `level`,
            detail,
            path,
            icon,
            show_flag,
            sort,
            create_time,
            update_time,
            del_flag
        from
            v_menu
        WHERE
            del_flag = '0'
        AND
            parent_id = #{parentId}
        <if test="showFlag!=0">
            AND show_flag = #{showFlag}
        </if>
    </select>
    <select id="getMenuOne" resultType="cn.study.vo.VMenuVo">
        SELECT
            v_menu.*
        FROM
            v_menu
            LEFT JOIN v_role_menu ON v_menu.menu_id = v_role_menu.menu_id
        WHERE
            v_menu.del_flag = 0
            AND v_menu.`level` = 1
            AND FIND_IN_SET( v_role_menu.role_id, #{roleIds} )
        ORDER BY
            v_menu.sort ASC
    </select>
    <select id="getChildMenu" resultType="cn.study.vo.VMenuVo">
        SELECT
            v_menu.*
        FROM
            v_menu
        LEFT JOIN v_role_menu ON v_menu.menu_id = v_role_menu.menu_id
        WHERE
            v_menu.del_flag = 0
        AND v_menu.show_flag = 1
        AND v_menu.parent_id = #{menuId}
        AND FIND_IN_SET(v_role_menu.role_id, #{roleIds})
        GROUP BY
            v_menu.menu_id
        ORDER BY
            v_menu.sort ASC
    </select>
    <select id="findMenuIdsByRoleId" resultType="java.lang.Integer">
        SELECT
			v_menu.menu_id
		FROM
			v_menu
		LEFT JOIN v_role_menu ON v_menu.menu_id = v_role_menu.menu_id
		WHERE
			v_menu.del_flag = 0
		AND v_menu.`level` = 3
		AND  v_role_menu.role_id = #{roleId}
		ORDER BY
			v_menu.sort ASC
    </select>
</mapper>
