<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.study.mapper.VPaperMapper">

    <select id="getPageAdmin" resultType="cn.study.vo.VPaperVo">
        select
        paper.id,
        paper.headline,
        paper.deadline,
        paper.subject_id,
        paper.grade_id,
        paper.class_id_array,
        paper.user_id,
        paper.create_time,
        u.real_name
        from
        v_paper AS paper
        LEFT JOIN v_user AS u ON paper.user_id = u.id
        WHERE
        paper.del_flag = '0'
        <if test="query.gradeId != null and query.gradeId != ''">
            AND paper.grade_id = #{query.gradeId}
        </if>
        <if test="query.subjectId != null and query.subjectId != ''">
            AND paper.subject_id = #{query.subjectId}
        </if>
        <if test="query.headline != null">
            AND paper.headline LIKE CONCAT(CONCAT('%',#{query.headline},'%'))
        </if>
    </select>
    <select id="getPage" resultType="cn.study.vo.VPaperVo">
        select
        paper.id,
        paper.headline,
        paper.deadline,
        paper.subject_id,
        paper.grade_id,
        paper.class_id_array,
        paper.user_id,
        paper.create_time,
        answer.answer_state,
        answer.correct_state,
        u.real_name
        from
        v_paper AS paper
        INNER JOIN v_answer AS answer ON paper.id = answer.paper_id
        INNER JOIN v_user AS u ON paper.user_id = u.id
        WHERE
            paper.del_flag = '0'
        AND answer.del_flag = '0'
        <if test="query.gradeIds == null">
            AND answer.user_id = #{query.userId}
        </if>

        <if test="query.gradeId != null and query.gradeId != ''">
            AND paper.grade_id = #{query.gradeId}
        </if>
        <if test="query.subjectId != null and query.subjectId != ''">
            AND paper.subject_id = #{query.subjectId}
        </if>
        <if test="query.gradeIds != null and  query.subjectIds != null">
            AND FIND_IN_SET(paper.grade_id,#{query.gradeIds})
            AND FIND_IN_SET(paper.subject_id,#{query.subjectIds})
        </if>
        <if test="query.headline != null">
            AND paper.headline LIKE CONCAT(CONCAT('%',#{query.headline},'%'))
        </if>
    </select>
</mapper>
